<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo beatae commodi corporis adipisci recusandae sit reiciendis provident error incidunt similique, obcaecati alias nam sunt repellat explicabo cum qui ipsum culpa neque. Eum sit aliquam dolorem! Culpa quibusdam asperiores eligendi.</p>

    </div>
</div>